<div class="wrapper">
  <form
    (ngSubmit)="onSubmit()"
    action="/"
    class="form"
  >
    <div class="field">
      <p class="control has-icons-left">
        <input
          [(ngModel)]="passwordValue"
          (ngModelChange)="checkPasswordStrength()"
          name="password"
          class="input"
          placeholder="Password"
          type="password"
        >

        <span class="icon is-small is-left">
      <fa-icon [icon]="faLock"></fa-icon>
    </span>
      </p>
    </div>

    <section class="indicator">
      <span
        class="indicator__bar"
        [class]="{
        'indicator__bar--weak': currentPasswordStrength === 'weak',
        'indicator__bar--medium': currentPasswordStrength === 'medium',
        'indicator__bar--strong': currentPasswordStrength === 'strong'
        }"
      >
        &nbsp;
      </span>

      <span
        class="indicator__bar"
        [class]="{
        'indicator__bar--medium': currentPasswordStrength === 'medium',
        'indicator__bar--strong': currentPasswordStrength === 'strong'
        }"
      >
        &nbsp;
      </span>

      <span
        class="indicator__bar"
        [class]="{
        'indicator__bar--strong': currentPasswordStrength === 'strong'
        }"
      >
        &nbsp;
      </span>
    </section>

    <div
      class="notification is-success is-light"
      *ngIf="isNotificationOpen && currentPasswordStrength !== 'strong'"
    >

      <button
        (click)="closeNotification()"
        class="delete"
      >
      </button>

      <b>Strong password must have:</b>
      <hr class="notification__divider"/>
      <ul class="notification__list">
        <li>at least 8 characters</li>
        <li>letters</li>
        <li>a symbol(!@#$%^&*)</li>
        <li>digits</li>
      </ul>
    </div>

    <input
      type="submit"
      value="Submit"
      class="button is-link"
      [class]="{'is-outlined': currentPasswordStrength !== 'strong'}"
      [disabled]="currentPasswordStrength !== 'strong'"
    >
  </form>
</div>

